<mat-card>
<mat-card-header>
<mat-card-title>My Profile</mat-card-title>
</mat-card-header>
<mat-card-content>
  <p>
    <mat-form-field hideRequiredMarker="false" floatLabel="auto">
      <mat-label>Username</mat-label>
      <input matInput required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field hideRequiredMarker="false" floatLabel="auto">
      <mat-label>E-Mail</mat-label>
      <input matInput required>
    </mat-form-field>
  </p>
  <button mat-button>
    Change Password
    <mat-icon>edit</mat-icon>
  </button>
</mat-card-content>
</mat-card>
